
html {
    /* footer support */
    position: relative;
    min-height: 100%;
    background-color: rgb(180, 176, 176);
    border-width: thin;
    
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    background-color: #939bf1;
    border-style: solid;
    border-width: 0 0 medium 0;
}
#title {
    position: relative;
    font-size: 150px;
    justify-content: space-between;
    left: 10%;
    letter-spacing: 9px;
    text-shadow: 4px 4px #e09d37;

}
#add_book {
    height: 100px;
    width: 220px;
    position: relative;
    right: 20%;
    bottom: 90%;
    font-size: 40px;
    background-color: #e09d37;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: thin;
    border-color: black;
    box-shadow: 10px 5px 5px black;
}

#add_book:active {
  box-shadow: 8px 4px 4px black;
  transform: translateY(2px) translateX(2px);
}

#add_book:hover {
  filter: brightness(0.9);
}

#card_container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   position: relative;
   align-items: flex-start;
   margin: 0 auto;
   justify-content: flex-start;
   top: 50%;
   width: 70vw;
}

.library_card {
    width: 400px;
    height: 500px;
    background-color: rgb(141, 125, 61);
    margin-bottom: 0px;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
}






*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

#pop_up_form.add_form {
  display:flex;
  position: fixed;
  margin: 0  auto;
  top: 20%;
  left: 40%;
  z-index: 2;
  width: 20vw;
  height: 40vh;
  background-color: rgb(111, 189, 223);
  border-style: solid ;
  border-width: thin;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  transform: scale(0);
  transition: 200ms ease-in-out;
}

#pop_up_form.add_form.active {
  transform:  scale(1);
  
}

#cover.regular {
  position: absolute;
  visibility: visible;
  top: 0%;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  background-color: black;
  z-index: 1;
  transform: scale(0);
}
#cover.active {
  transform:  scale(1);

}

#pages_input {
  width: 2vw;
  border-style: solid ;
  border-width: thin;
  border-color: rgb(80, 78, 78);
}

#title_input_box {
  width: 15vw;
  border-style: solid ;
  border-width: thin;
  border-color: rgb(80, 78, 78);
}

#author_input {
  width: 6vw;
  border-style: solid ;
  border-width: thin;
  border-color: rgb(80, 78, 78);
}

#submit_button {
  font-size: 20px;
  width: 5vw;
  border-style: solid ;
  border-width: thin;
  border-color: rgb(80, 78, 78);
  background-color: #e09d37;

}

body {
  z-index: 0;
  height: 100%;
}

.remove_btn {
  position: relative;
  margin: 0 auto;
  width: 7vw;
  height: 5vh;
  background-color: rgb(214, 185, 70);
  line-height: 40px;
  border-radius: 10px;
  border-style: solid black;
  border-width: 2px;
  font-size: 18px;
  
}
.remove_btn:hover {
  filter: brightness(0.9);
}
